:root {
    --bg-body: #dff9fb;
    --bg-nav: #220455;
    --color-nav: #644c89;
    --color-nav-active: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: cursive;
    background-color: var(--bg-body);
}

#filter-svg {
    display: none;
}

.nav {
    position: relative;
    list-style-type: none;
    display: flex;
    background-color: var(--bg-nav);
    height: 80px;
    border-radius: 20px;
    filter: url("#goo");
    /* border-bottom-right-radius: 20px; */
}

.nav li a {
    text-decoration: none;
    color: var(--color-nav);
    width: 120px;
    height: 100%;
    display: inline-grid;
    place-items: center;
    font-size: 30px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.nav li a .title {
    display: none;
}

.nav li a:hover {
    color: var(--bg-body);
}

.nav li a.nav-item-active {
    color: var(--color-nav-active);
    transform: translateY(-20%);
    font-size: 45px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.nav li a.nav-item-active .title {
    display: block;
    font-size: 16px;
}

.nav .nav-indicator {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--bg-nav);
    position: absolute;
    top: -35px;
    left: calc(300px - 45px);
    z-index: -1;
    transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    /* cubic-bezier(0.175, 0.885, 0.32, 1.275) */
}

@keyframes zoom {
    0% {
        width: 0px;
        height: 0px;
        opacity: 0.2;
    }
    100% {
        width: 1500px;
        height: 1500px;
        opacity: 0;
    }
}
